body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.footer {
    position: fixed;
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 11px;
    color: #9ca3af;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.footer a { 
    color: #9ca3af; 
    text-decoration: none; 
}
